.slider {
  height: calc(100vh - 80px);
  width: 100vw;
  position: relative;

  .container {
    width: 300vw;
    height: 100%;
    display: flex;
    transition: all 1s ease;

    img {
      height: 100%;
      width: 100vw;
      object-fit: cover;
    }
  }

  .icons {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    bottom: 100px;
    display: flex;
    width: 100px;
    gap: 15px;
    .icon {
      width: 50px;
      height: 50px;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}
